<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCu61QvEFqJuama1obxcMZt4mDIqo2s1M8</string>
	<key>GCM_SENDER_ID</key>
	<string>553689215532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abed.SwiftChat</string>
	<key>PROJECT_ID</key>
	<string>swiftchat-1f032</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftchat-1f032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553689215532:ios:634cdba0c98a89cd8d9789</string>
</dict>
</plist>